extends baseEmail

block content
    p Hi #{firstName},
    p Here is your password reset link : #{url}
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Click to reset password
    p Ignore this message if you have not requested for password recover
    p - Jonas Schmedtmann, CEO